.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 30px;
    font-weight: 600;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 300px;
      height: 25px;
      margin: 10px 0;
    }
    button {
      width: 300px;
    }
    .description__container {
      display: flex;
      flex-direction: column;
      span {
        font-size: 20px;
        font-weight: 600;
      }
      textArea {
        margin: 5px 0 10px 0;
        width: 300px;
        height: 200px;
      }
    }
  }
}
