extends ./layouts/main
include mixins/videoBlock

block content
  if(videos)
    each video in videos
      +videoBlock({
        id:video.id,
        title:video.title,
        src:video.src
      })