extends ./layouts/main

block content
  .form__container
    h3 업로드
    form(action=`/videos${routes.upload}` method="post" enctype="multipart/form-data")
      input(type="file" id="videoFile" name="videoFile" accept="video/*", required=true)
      input.form__title(type="text" name="title" placeholder="제목(필수 항목)" required=true)
      .description__container
        span 설명
        textarea(type="text" name="description" placeholder="시청자에게 동영상에 대해 알려주세요" required=true)
      input(type="submit" value="확인")