.main-content {
  display: grid;
  grid-area: main;
  grid-template-rows: repeat(minmax(0, auto));
  place-content: center center;
  grid-gap: 10px;
  gap: 10px;
}

// To Do: 반응형으로 동영상 크기가 변할 수 있게
@media screen and (min-width: 700px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1070px) {
  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1420px) {
  .main-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1800px) {
  .main-content {
    grid-template-columns: repeat(5, 1fr);
  }
}
